

body {
    
}


.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    
    
}

ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
.container-menu li {
   
    float:left;
    border-right:1px solid #c0c0c0;
    display: flex;
    background-color: rgb(145, 205, 240);
    border-radius: 20px;
    width: 30%;
    margin: 5px;
    padding: 5px;
    
    
    
    
}


.container-menu li a{
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-weight: bold;


}

.cadastro{
    text-align: center;
    background-color: #abc4d4;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}
.botao{

    display: flex;   /* inicia o display flex */
    align-items: center; /* alinha os itens na vertical */
    justify-content: center; /* alinha os itens na horizontal */ 
    background-color: rgb(29, 155, 240);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
  
  }

.forms-container{
    display: flex;
    align-items: flex-start;
    width: auto;
    border: 30px solid blue;
    border-radius: 10px
    ;
    border-color: #abc4d4;
    margin: 5%;
    justify-content: center;
    background-color: #abc4d4;
}

.labels-container{
    margin-right: 5%;
}

.labels-container label{
    display: block;
    margin-bottom: 3%;
    text-align: right;
    width: 100%;
    left: 100%;
}

.cadPaciente-form input{
    display: block;
    margin-bottom: 1%;
    width: 200px;
}

.cadPaciente-form input[type="text"], input[type="date"] {
    width: 200%;
}

.doctor-lista dl {
    list-style-type: none;
    padding: 0;
    display: none;
}

.doctor-lista dt, dd {
    padding: 10px;
    margin: 5px 0;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    cursor: pointer;
}

.doctor-lista dt:hover {
    background-color: #e2e2e2;
}


.container-medico {
    background-color: #55b0ce;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5%;
  }

  .nome-medico {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
<<<<<<< HEAD
    overflow-y: auto;
  }


/* Estilo para o container do formulário */
.contact-contaniner{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #91ace6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para os títulos */
.contact-contaniner h2{
  display: flex;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo para o grupo de formulários */
.form-group {
  display: flex;
  flex-direction: column;
}

/* Estilo para os rótulos */
.form-group label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #444444;
}

/* Estilo para os inputs e textarea */
.form-group input,
.form-group textarea {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

/* Estilo para o input e textarea quando em foco */
.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.button-container {
  text-align: center;
  background-color: white;
  color: #4CAF50; /* Verde */
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover {
  background-color: #4CAF50;
  color: white;
}
=======
    
  }

  .photo-container img {
 
    display: block;
    border-radius: 50px;
    align-content: center;
    margin: auto;

    
    
  }

  .informacoes-medico {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 20px;
    margin-right: 10%;
    
    
  }
  
  .informacoes-medico p {
    padding: 30px;
    margin-right: 10px;
    

  }
>>>>>>> cfec3bd9aac0ee173fb48d6a57b4164ab3ac68ca
